
.block-entity-fieldnodefield-program-stories-block {
  @extend .block--openedu-stories-block;
  @include angle();
  margin-top: 100px;
}

.block-views-blockfaculty-block-1 {
  @extend .container;
}

.page-node-type-program {

  .block-region-subsection {
    .block-entity-fieldnodebody {
      padding: 0;
      font-style: italic;
    }
  }
  .block-entity-fieldnodefield-program-stories-block {
    background: $brand-primary;
    color: #fff;
    .field--name-field-program-stories-block {
      .field--name-field-stories-title {
        @include underlined-title(#fff);
      }
    }

    .carousel {
      .flickity-prev-next-button {
        background: $gray-base;
        background: rgba($gray-base, 0.2);
        color: #fff;
        &:hover {
          color: $gray-base;
          background: #fff;
          background: rgba(#fff, 0.6);
        }
      }
    }
  }

  .block-entity-fieldnodefield-program-course-intro {
    @extend .container;
    .block-title {
      color: $brand-primary;
      text-align: center;
      margin: 2em auto 1em auto;
      padding-bottom: 0;
      border-bottom: none;
    }
    .field--name-field-program-course-intro {
      color: $gray-dark;
      font-size: 1.571em;
      text-align: center;
    }
  }

  .block-entity-fieldnodefield-program-courses {
    @extend .container;
    .field--name-field-program-courses {
      @extend %row-eq-height;
      > .field--item {
        @extend .col-sm-6;
        article {
          padding: 20px;
          box-shadow: 1px 2px 4px 0 $gray-light;
          border-left: 1em solid $gray-light;
          transition: border-color 0.5s;
          &:hover {
            border-color: $brand-primary;
          }
        }
        h2 {
          margin-top: 0.2em;
          font-size: 1.5em;
          color: $brand-primary;
          a {
            color: $brand-primary;
            text-decoration: none;
          }
        }
      }
    }
  }

  .block-entity-fieldnodefield-programs-course-link {
    @extend .container;
    .field--name-field-programs-course-link {
      text-align: center;
      a {
        @extend .btn-cta.call-out, .btn;
        color: #fff;
        background: $brand-info;
        background: -webkit-linear-gradient(60deg, $brand-info 65%, rgba($brand-info, 0.8) 54%);
        background: -webkit-linear-gradient(30deg, $brand-info 65%, rgba($brand-info, 0.8) 54%);
        background: linear-gradient(60deg, $brand-info 65%, rgba($brand-info, 0.8) 54%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$brand-info, endColorstr=$brand-info, GradientType=1);
        &:hover {
          opacity: 0.8;
          color: #fff;
        }
      }
    }
  }
}

