{#
/**
 * @file
 * Template for a one column panel layout.
 *
 * This template provides a very simple "one column" panel display layout.
 *
 * Variables:
 * - $id: An optional CSS id to use for the layout.
 * - $content: An array of content, each item in the array is keyed to one
 *   panel of the layout. This layout supports the following sections:
 *   - content.middle: The only panel in the layout.
 */
#}
<section class="panel-oedu-1col subsection" {% if css_id %}{{ css_id }}{% endif %}>
  <div class="panel-panel">
    {{ content.subsection }}
  </div>
</section>
<section class="panel-oedu-container container block clearfix">
  <div class="row">
    <div class="panel-oedu-2col col-sm-8" {% if css_id %}{{ css_id }}{% endif %}>
      <div class="panel-panel">
        {{ content.left }}
      </div>
    </div>
    <div class="panel-oedu-2col col-sm-4" {% if css_id %}{{ css_id }}{% endif %}>
      <div class="panel-panel">
        {{ content.right }}
      </div>
    </div>
  </div>
</section>
<section class="panel-oedu-1col bottom">
  <div class="panel-panel">
    {{ content.bottom }}
  </div>
</section>
