.block--openedu-hero {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0 auto 50px;
  @include linearGradient(#008dc0, #024f6a);
  height: 250px;

  @media #{$tablet} {
    border-bottom: 5px solid $brand-primary-lighter;
    border-bottom-left-radius: 50% 50px;
    border-bottom-right-radius: 50% 50px;
    height: 350px;
  }
  @media #{$normal} {
    height: 450px;
  }
  @media #{$wide} {
    height: 600px;
  }

  .field--name-field-hero-image {
    img {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      max-width: 100vw;
      height: 50vh;
      min-width: 100vw;
      object-fit: cover;
      width: 100%;
      opacity: 0.65;
      @media #{$tablet} {
        height: auto;
      }
    }
  }

  .field--name-body {
    padding: 0 20px;
    @include verticalAlign(absolute);
    left: 0;
    right: 0;
    text-align: center;
    .path-frontpage & {
      color: #fff;
    }
  }

}
